
h1,
h2,
h3,
h4,
h5,
h6
  line-height: 1
  font-family: $headingsFontFamily

h1,
h2
  margin-bottom: 30px
  margin-bottom: 3rem

h1
  @extend .center

  // Header
.logo
  +fontsize(3,1)
  text-transform: uppercase
  letter-spacing: -0.1rem
  font-weight: bold

  a
    color: $brandColor

    &:hover
      text-decoration: none
      color: lighten($brandColor,10%)

h2
  +fontsize(1.7,1)
  letter-spacing: -1px
  letter-spacing: -0.1rem
  text-align: center
  font-weight: normal
  color: $grayLight

p
  font-size: 1.1em
  line-height: 1.7em
