$brandColor:             $white
$headerNavLinkColor:     $white

// ===== TreeHouse =====

/* Colors only (auto-mode) */
$treehouse-auto: #fa9300, #66c9ee, #c9c9c9, #82b964, #d24d33, #fffbdb, #2e77bb, #6bd5b1, #f87aa0, #c9c9c9, #72664e, #ccd600, #fffbdb, #df620e, #993838, #ff9600, #d24d33, #8960a7, #82b964, #f87aa0, #d43f3f, #668000, #ff9600, #8960a7, #c9c9c9, #993838, #ccd600, #668000, #f4cc13, #72664e, #fa9300, #66c9ee, #c9c9c9, #82b964, #ccd600, #fffbdb, #2e77bb, #6bd5b1, #f87aa0, #c9c9c9, #fa9300, #66c9ee, #c9c9c9, #82b964, #ccd600, #fffbdb, #fa9300

/* Color-stops (hard-mode) */
$treehouse-hard: #fa9300 2.61%, #66c9ee 4.35%, #c9c9c9 6.96%, #82b964 9.13%, #d24d33 11.3%, #fffbdb 13.91%, #2e77bb 16.52%, #6bd5b1 17.82%, #f87aa0 19.12%, #c9c9c9 21.29%, #72664e 23.9%, #ccd600 26.07%, #fffbdb 28.68%, #df620e 31.29%, #993838 33.03%, #ff9600 34.33%, #d24d33 36.94%, #8960a7 39.55%, #82b964 42.16%, #f87aa0 43.36%, #d43f3f 45.63%, #668000 47.8%, #ff9600 50.41%, #8960a7 51.71%, #c9c9c9 53.88%, #993838 55.18%, #ccd600 57.79%, #668000 59.53%, #f4cc13 60.83%, #72664e 63.44%, #fa9300 66.05%, #66c9ee 67.35%, #c9c9c9 69.96%, #82b964 71.7%, #ccd600 74.31%, #fffbdb 76.92%, #2e77bb 79.53%, #6bd5b1 80.4%, #f87aa0 81.7%, #c9c9c9 83.87%, #fa9300 86.04%, #66c9ee 87.78%, #c9c9c9 90.39%, #82b964 92.56%, #ccd600 95.17%, #fffbdb 97.34%, #fa9300 100%

// ===== Grays =====

$grayDarker:            #222222
$grayMediumLight:       #eaeaea

// ===== Typography =====

$baseFontSize:          14px
$baseLineHeight:        $baseFontSize * 1.5
$headingsFontFamily:    Nunito, sans-serif

// ===== Component sizing =====

$fontSizeLarge:         $baseFontSize * 1.25 // ~18px
$fontSizeSmall:         $baseFontSize * 0.85 // ~12px
$fontSizeMini:          $baseFontSize * 0.75 // ~11px

$baseBorderRadius:      4px

// ===== Grid =====

$basePadding:           $gridGutterWidth
$baseMargin:            $basePadding
$gridRowMargin:         $gridGutterWidth * 2

// ===== Buttons =====

$buttonHeight:          28px //$baseLineHeight + $buttonTopPadding*2

// ===== Forms =====
$inputBorder:           #bbb
